<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsAdvertiseMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="linkkind" jdbcType="BIGINT" property="linkkind" />
    <result column="imglink" jdbcType="VARCHAR" property="imglink" />
    <result column="ordernumb" jdbcType="INTEGER" property="ordernumb" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="isuse" jdbcType="INTEGER" property="isuse" />
    <result column="kind" jdbcType="BIGINT" property="kind" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    <result column="memo" jdbcType="LONGVARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, imgurl, linkkind, imglink, ordernumb, type, isuse, kind
  </sql>
  <sql id="Blob_Column_List">
    memo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ns_advertise
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ns_advertise
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    insert into ns_advertise (id, name, imgurl, 
      linkkind, imglink, ordernumb, 
      type, isuse, kind, memo
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{linkkind,jdbcType=BIGINT}, #{imglink,jdbcType=VARCHAR}, #{ordernumb,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{isuse,jdbcType=INTEGER}, #{kind,jdbcType=BIGINT}, #{memo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    insert into ns_advertise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="linkkind != null">
        linkkind,
      </if>
      <if test="imglink != null">
        imglink,
      </if>
      <if test="ordernumb != null">
        ordernumb,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isuse != null">
        isuse,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="memo != null">
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkkind != null">
        #{linkkind,jdbcType=BIGINT},
      </if>
      <if test="imglink != null">
        #{imglink,jdbcType=VARCHAR},
      </if>
      <if test="ordernumb != null">
        #{ordernumb,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isuse != null">
        #{isuse,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=BIGINT},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    update ns_advertise
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkkind != null">
        linkkind = #{linkkind,jdbcType=BIGINT},
      </if>
      <if test="imglink != null">
        imglink = #{imglink,jdbcType=VARCHAR},
      </if>
      <if test="ordernumb != null">
        ordernumb = #{ordernumb,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isuse != null">
        isuse = #{isuse,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=BIGINT},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    update ns_advertise
    set name = #{name,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      linkkind = #{linkkind,jdbcType=BIGINT},
      imglink = #{imglink,jdbcType=VARCHAR},
      ordernumb = #{ordernumb,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      isuse = #{isuse,jdbcType=INTEGER},
      kind = #{kind,jdbcType=BIGINT},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsAdvertise">
    update ns_advertise
    set name = #{name,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      linkkind = #{linkkind,jdbcType=BIGINT},
      imglink = #{imglink,jdbcType=VARCHAR},
      ordernumb = #{ordernumb,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      isuse = #{isuse,jdbcType=INTEGER},
      kind = #{kind,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   <resultMap id="advertiseResultMap" type="cn.sqhl.neig.pointsmanager.vo.Advertise">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="linkkind" jdbcType="BIGINT" property="linkkind" />
    <result column="imglink" jdbcType="VARCHAR" property="imglink" />
    <result column="ordernumb" jdbcType="INTEGER" property="ordernumb" />
    <result column="kind" jdbcType="BIGINT" property="kind" />
    <result column="memo" jdbcType="LONGVARCHAR" property="memo" />
  </resultMap>
  <sql id="advertise_Column_List">
    id, name, imgurl, linkkind, imglink, ordernumb, type, isuse, kind,memo
  </sql>
  <select id="queryByMap" parameterType="java.util.Map" resultMap="advertiseResultMap">
    select 
    <include refid="advertise_Column_List" />
    from ns_advertise
    where isuse = '0' and flag='1' 
    and (unix_timestamp(now()) between unix_timestamp(start_time) and unix_timestamp(end_time)) = 1
    <if test="map.type != null">
    	and type=#{map.type,jdbcType=VARCHAR}
    </if>
    order by ordernumb,id asc
    
  </select>
  
</mapper>