<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsAddressMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uerid" jdbcType="BIGINT" property="uerid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="phonenumb" jdbcType="VARCHAR" property="phonenumb" />
    <result column="telnumb" jdbcType="VARCHAR" property="telnumb" />
    <result column="isuse" jdbcType="INTEGER" property="isuse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uerid, address, name, post, phonenumb, telnumb, isuse
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ns_address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsAddress">
    insert into ns_address (id, uerid, address, 
      name, post, phonenumb, 
      telnumb, isuse
      )
    values (#{id,jdbcType=BIGINT}, #{uerid,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, #{phonenumb,jdbcType=VARCHAR}, 
      #{telnumb,jdbcType=VARCHAR}, #{isuse,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsAddress">
    insert into ns_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uerid != null">
        uerid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="phonenumb != null">
        phonenumb,
      </if>
      <if test="telnumb != null">
        telnumb,
      </if>
      <if test="isuse != null">
        isuse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uerid != null">
        #{uerid,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="phonenumb != null">
        #{phonenumb,jdbcType=VARCHAR},
      </if>
      <if test="telnumb != null">
        #{telnumb,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        #{isuse,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsAddress">
    update ns_address
    <set>
      <if test="uerid != null">
        uerid = #{uerid,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="phonenumb != null">
        phonenumb = #{phonenumb,jdbcType=VARCHAR},
      </if>
      <if test="telnumb != null">
        telnumb = #{telnumb,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        isuse = #{isuse,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateIsUseExcept" parameterType="cn.sqhl.neig.pointsmanager.po.NsAddress">
    update ns_address
    set isuse = '1'
    where userid = #{userid,jdbcType=BIGINT} and id &lt;&gt; #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsAddress">
    update ns_address
    set uerid = #{uerid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      phonenumb = #{phonenumb,jdbcType=VARCHAR},
      telnumb = #{telnumb,jdbcType=VARCHAR},
      isuse = #{isuse,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <resultMap id="ResultMap" type="cn.sqhl.neig.pointsmanager.vo.Address">
	   	<id column="id" jdbcType="BIGINT" property="id" />
	    <result column="uerid" jdbcType="BIGINT" property="uerid" />
	    <result column="address" jdbcType="VARCHAR" property="address" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="post" jdbcType="VARCHAR" property="post" />
	    <result column="phonenumb" jdbcType="VARCHAR" property="phonenumb" />
	    <result column="telnumb" jdbcType="VARCHAR" property="telnumb" />
	    <result column="isuse" jdbcType="INTEGER" property="isuse" />
   </resultMap>
   <select id="selectAddress" resultMap="ResultMap" parameterType="java.util.Map">
	   	select 
	    <include refid="Base_Column_List" />
	    from ns_address
	    <if test="map!=null">
	    <where>
	    	1=1
	    	<if test="map.userid != null">
	    		and uerid=${map.userid}
	    	</if>
	    	<if test="map.isuse != null">
	    		and isuse=${map.isuse}
	    	</if>
	    </where>	    
	    </if>
   </select>
   
   <select id="selectNsAddress" resultMap="BaseResultMap" parameterType="java.util.Map">
	   	select 
	    <include refid="Base_Column_List" />
	    from ns_address
	    <if test="map!=null">
	    <where>
	    	1=1
	    	<if test="map.userid != null">
	    		and uerid=${map.userid}
	    	</if>
	    	<if test="map.isuse != null">
	    		and isuse=${map.isuse}
	    	</if>
	    </where>	    
	    </if>
   </select>
</mapper>