<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsCommentMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsid" jdbcType="BIGINT" property="goodsid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="ishidden" jdbcType="CHAR" property="ishidden" />
    <result column="orderid" jdbcType="BIGINT" property="orderid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsid, comment, create_time, score, userid, ishidden, username,orderid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ns_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    insert into ns_comment (id, goodsid, comment, 
      create_time, score, userid, 
      ishidden, username,orderid)
    values (#{id,jdbcType=BIGINT}, #{goodsid,jdbcType=BIGINT}, #{comment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{ishidden,jdbcType=CHAR}, #{username,jdbcType=VARCHAR}, #{orderid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    insert into ns_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="ishidden != null">
        ishidden,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishidden != null">
        #{ishidden,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
       <if test="orderid != null">
        #{orderid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    update ns_comment
    <set>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishidden != null">
        ishidden = #{ishidden,jdbcType=CHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    update ns_comment
    set goodsid = #{goodsid,jdbcType=BIGINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER},
      userid = #{userid,jdbcType=BIGINT},
      ishidden = #{ishidden,jdbcType=CHAR},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <resultMap id="cmResultMap" type="cn.sqhl.neig.pointsmanager.vo.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsid" jdbcType="BIGINT" property="goodsid" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="gimg" jdbcType="VARCHAR" property="gimg" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="orderid" jdbcType="BIGINT" property="orderid" />
    <result column="ishidden" jdbcType="INTEGER" property="ishidden" />
    <result column="avgscore" jdbcType="DOUBLE" property="avgscore" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="comment_Column_List">
    id, goodsid, comment, create_time, score, userid, ishidden,gname,gimg,username,orderid 
  </sql>
  <select id="queryCommentList" parameterType="java.util.Map" resultMap="cmResultMap">
    select 
    id, goodsid, comment, DATE_FORMAT(create_time,"%Y-%m-%d %T") as create_time, score, userid, ishidden,(select  AVG(b.score) from ns_comment b
    	where b.flag=1 and a.goodsid=b.goodsid
    )as avgscore,
    (select b.username from ns_user b where b.flag=1 and b.userid=a.userid) as username,
    (select b.gname from ns_goods b where b.id=a.goodsid) as gname,
    (select b.goodimg from ns_goods b where b.id=a.goodsid) as gimg,
    a.orderid 
    from ns_comment a where flag = 1
	    	<if test="map.goodsid != null">
	    	 	and goodsid=${map.goodsid}
	    	</if>
	    	
	    	<if test="map.userid !=null">
	    		and userid=${map.userid}
	    	</if>
	    	
	    	<if test="map.orderid !=null">
	    		and orderid=${map.orderid}
	    	</if>
  </select>
  
  <select id="selectCommentList" parameterType="java.util.Map" resultMap="cmResultMap">
    select 
    id, goodsid, comment, DATE_FORMAT(create_time,"%Y-%m-%d %T") as create_time, score, userid, ishidden,(select  AVG(b.score) from ns_comment b
    	where b.flag=1 and a.goodsid=b.goodsid
    )as avgscore,
    (select b.username from ns_user b where b.flag=1 and b.userid=a.userid) as username,
    (select b.gname from ns_goods b where b.id=a.goodsid) as gname,
    (select b.goodimg from ns_goods b where b.id=a.goodsid) as gimg,
    a.orderid 
    from ns_comment a where flag = 1
	    	<if test="map.goodsid != null">
	    	 	and goodsid=${map.goodsid}
	    	</if>
	    	
	    	<if test="map.userid !=null">
	    		and userid=${map.userid}
	    	</if>
	    	
	    	<if test="map.orderid !=null">
	    		and orderid=${map.orderid}
	    	</if>
  </select>
</mapper>