<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsCommentMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsid" jdbcType="BIGINT" property="goodsid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="ishidden" jdbcType="CHAR" property="ishidden" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsid, comment, create_time, score, userid, ishidden, username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ns_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    insert into ns_comment (id, goodsid, comment, 
      create_time, score, userid, 
      ishidden, username)
    values (#{id,jdbcType=BIGINT}, #{goodsid,jdbcType=BIGINT}, #{comment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{ishidden,jdbcType=CHAR}, #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    insert into ns_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="ishidden != null">
        ishidden,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishidden != null">
        #{ishidden,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    update ns_comment
    <set>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishidden != null">
        ishidden = #{ishidden,jdbcType=CHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsComment">
    update ns_comment
    set goodsid = #{goodsid,jdbcType=BIGINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER},
      userid = #{userid,jdbcType=BIGINT},
      ishidden = #{ishidden,jdbcType=CHAR},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
   <resultMap id="commentResultMap" type="cn.sqhl.neig.pointsmanager.vo.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsid" jdbcType="BIGINT" property="goodsid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="ishidden" jdbcType="INTEGER" property="ishidden" />
    <result column="avgscore" jdbcType="DOUBLE" property="avgscore" />
  </resultMap>
  <sql id="comment_Column_List">
    id, goodsid, comment, create_time, score, userid, ishidden 
  </sql>
  <select id="queryComment" parameterType="java.util.Map" resultMap="commentResultMap">
    select 
    <include refid="comment_Column_List" />
    from ns_comment where flag = 1
	    	<if test="map.goodsid != null">
	    	 	and goodsid=${map.goodsid}
	    	</if>
	    	
	    	<if test="map.user_id !=null">
	    		and userid=${map.user_id}
	    	</if>
  </select>
</mapper>