<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsDictionariesMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsDictionaries">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentcode" jdbcType="VARCHAR" property="parentcode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="isuse" jdbcType="CHAR" property="isuse" />
    <result column="isedit" jdbcType="CHAR" property="isedit" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, code, name, parentcode, remark, isuse, isedit, order
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_dictionaries
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ns_dictionaries
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsDictionaries">
    insert into ns_dictionaries (id, type, code, 
      name, parentcode, remark, 
      isuse, isedit, order)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{parentcode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isuse,jdbcType=CHAR}, #{isedit,jdbcType=CHAR}, #{order,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsDictionaries">
    insert into ns_dictionaries
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentcode != null">
        parentcode,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isuse != null">
        isuse,
      </if>
      <if test="isedit != null">
        isedit,
      </if>
      <if test="order != null">
        order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcode != null">
        #{parentcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        #{isuse,jdbcType=CHAR},
      </if>
      <if test="isedit != null">
        #{isedit,jdbcType=CHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsDictionaries">
    update ns_dictionaries
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentcode != null">
        parentcode = #{parentcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        isuse = #{isuse,jdbcType=CHAR},
      </if>
      <if test="isedit != null">
        isedit = #{isedit,jdbcType=CHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsDictionaries">
    update ns_dictionaries
    set type = #{type,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parentcode = #{parentcode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isuse = #{isuse,jdbcType=CHAR},
      isedit = #{isedit,jdbcType=CHAR},
      order = #{order,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <resultMap id="dictionResultMap" type="cn.sqhl.neig.pointsmanager.vo.Dictionaries">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentcode" jdbcType="VARCHAR" property="parentcode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="diction_Column_List">
    id, type, code, name, parentcode, remark, `order`
  </sql>
  <select id="selectDictionaries" parameterType="java.lang.Integer" resultMap="dictionResultMap">
    select 
    <include refid="diction_Column_List" />
    from ns_dictionaries
    <where>
    	isedit = 0 and isuse = 0 
    	<if test="map.type != null">
    		and type=#{map.type,jdbcType=VARCHAR}
    	</if>
    	order by `order` desc
    </where>
  </select>
</mapper>