<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sqhl.neig.pointsmanager.mapper.NsUserMapper">
  <resultMap id="BaseResultMap" type="cn.sqhl.neig.pointsmanager.po.NsUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
    <result column="user_grade" jdbcType="BIGINT" property="userGrade" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_mail" jdbcType="VARCHAR" property="userMail" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="identity_card_validity" jdbcType="TIMESTAMP" property="identityCardValidity" />
    <result column="identity_issuing" jdbcType="VARCHAR" property="identityIssuing" />
    <result column="identity_status" jdbcType="INTEGER" property="identityStatus" />
    <result column="user_ky_balance" jdbcType="DECIMAL" property="userKyBalance" />
    <result column="user_fx_balance" jdbcType="DECIMAL" property="userFxBalance" />
    <result column="user_dj_balance" jdbcType="DECIMAL" property="userDjBalance" />
    <result column="tixian_status" jdbcType="INTEGER" property="tixianStatus" />
    <result column="user_jf_balance" jdbcType="DECIMAL" property="userJfBalance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="option_time" jdbcType="TIMESTAMP" property="optionTime" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_pid" jdbcType="BIGINT" property="userPid" />
    <result column="option_remark" jdbcType="VARCHAR" property="optionRemark" />
   
  </resultMap>
  <resultMap id="UserPidResultMap" type="cn.sqhl.neig.pointsmanager.po.NsUser">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_name, nick_name, true_name, login_pwd, pay_pwd, user_grade, user_phone, 
    user_mail, user_sex, identity_card, identity_card_validity, identity_issuing, identity_status, 
    user_ky_balance, user_fx_balance, user_dj_balance, tixian_status, user_jf_balance, 
    create_time, option_time, user_status, user_pid, option_remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="queryByUserPid" parameterType="java.lang.Long" resultMap="UserPidResultMap">
     select user_name,true_name 
     from ns_user where 
     user_pid in(select id FROM ns_user where user_pid=#{id,jdbcType=BIGINT}) 
     OR user_pid=#{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_user where 
   	user_name = #{userName,jdbcType=VARCHAR}
   	<if test="loginPwd != null">
        and login_pwd=#{loginPwd,jdbcType=VARCHAR}
    </if>
        and user_status != '0'
  </select>
 
  <select id="selectByUserPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ns_user where 
   	user_phone = #{userPhone,jdbcType=VARCHAR}
   	<if test="loginPwd != null">
        and login_pwd=#{loginPwd,jdbcType=VARCHAR}
    </if>
        and user_status != '0'
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ns_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    insert into ns_user (id, user_name, nick_name, 
      true_name, login_pwd, pay_pwd, 
      user_grade, user_phone, user_mail, 
      user_sex, identity_card, identity_card_validity, 
      identity_issuing, identity_status, user_ky_balance, 
      user_fx_balance, user_dj_balance, tixian_status, 
      user_jf_balance, create_time, option_time, 
      user_status, user_pid, option_remark
      )
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{payPwd,jdbcType=VARCHAR}, 
      #{userGrade,jdbcType=BIGINT}, #{userPhone,jdbcType=VARCHAR}, #{userMail,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=INTEGER}, #{identityCard,jdbcType=VARCHAR}, #{identityCardValidity,jdbcType=TIMESTAMP}, 
      #{identityIssuing,jdbcType=VARCHAR}, #{identityStatus,jdbcType=INTEGER}, #{userKyBalance,jdbcType=DECIMAL}, 
      #{userFxBalance,jdbcType=DECIMAL}, #{userDjBalance,jdbcType=DECIMAL}, #{tixianStatus,jdbcType=INTEGER}, 
      #{userJfBalance,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{optionTime,jdbcType=TIMESTAMP}, 
      #{userStatus,jdbcType=INTEGER}, #{userPid,jdbcType=BIGINT}, #{optionRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    insert into ns_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="loginPwd != null">
        login_pwd,
      </if>
      <if test="payPwd != null">
        pay_pwd,
      </if>
      <if test="userGrade != null">
        user_grade,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userMail != null">
        user_mail,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="identityCard != null">
        identity_card,
      </if>
      <if test="identityCardValidity != null">
        identity_card_validity,
      </if>
      <if test="identityIssuing != null">
        identity_issuing,
      </if>
      <if test="identityStatus != null">
        identity_status,
      </if>
      <if test="userKyBalance != null">
        user_ky_balance,
      </if>
      <if test="userFxBalance != null">
        user_fx_balance,
      </if>
      <if test="userDjBalance != null">
        user_dj_balance,
      </if>
      <if test="tixianStatus != null">
        tixian_status,
      </if>
      <if test="userJfBalance != null">
        user_jf_balance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="optionTime != null">
        option_time,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="userPid != null">
        user_pid,
      </if>
      <if test="optionRemark != null">
        option_remark,
      </if>
      
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        #{payPwd,jdbcType=VARCHAR},
      </if>
      <if test="userGrade != null">
        #{userGrade,jdbcType=BIGINT},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null">
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="identityCardValidity != null">
        #{identityCardValidity,jdbcType=TIMESTAMP},
      </if>
      <if test="identityIssuing != null">
        #{identityIssuing,jdbcType=VARCHAR},
      </if>
      <if test="identityStatus != null">
        #{identityStatus,jdbcType=INTEGER},
      </if>
      <if test="userKyBalance != null">
        #{userKyBalance,jdbcType=DECIMAL},
      </if>
      <if test="userFxBalance != null">
        #{userFxBalance,jdbcType=DECIMAL},
      </if>
      <if test="userDjBalance != null">
        #{userDjBalance,jdbcType=DECIMAL},
      </if>
      <if test="tixianStatus != null">
        #{tixianStatus,jdbcType=INTEGER},
      </if>
      <if test="userJfBalance != null">
        #{userJfBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionTime != null">
        #{optionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userPid != null">
        #{userPid,jdbcType=BIGINT},
      </if>
      <if test="optionRemark != null">
        #{optionRemark,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        pay_pwd = #{payPwd,jdbcType=VARCHAR},
      </if>
      <if test="userGrade != null">
        user_grade = #{userGrade,jdbcType=BIGINT},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null">
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="identityCard != null">
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="identityCardValidity != null">
        identity_card_validity = #{identityCardValidity,jdbcType=TIMESTAMP},
      </if>
      <if test="identityIssuing != null">
        identity_issuing = #{identityIssuing,jdbcType=VARCHAR},
      </if>
      <if test="identityStatus != null">
        identity_status = #{identityStatus,jdbcType=INTEGER},
      </if>
      <if test="userKyBalance != null">
        user_ky_balance = #{userKyBalance,jdbcType=DECIMAL},
      </if>
      <if test="userFxBalance != null">
        user_fx_balance = #{userFxBalance,jdbcType=DECIMAL},
      </if>
      <if test="userDjBalance != null">
        user_dj_balance = #{userDjBalance,jdbcType=DECIMAL},
      </if>
      <if test="tixianStatus != null">
        tixian_status = #{tixianStatus,jdbcType=INTEGER},
      </if>
      <if test="userJfBalance != null">
        user_jf_balance = #{userJfBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optionTime != null">
        option_time = #{optionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userPid != null">
        user_pid = #{userPid,jdbcType=BIGINT},
      </if>
      <if test="optionRemark != null">
        option_remark = #{optionRemark,jdbcType=VARCHAR},
      </if>
      
     
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      pay_pwd = #{payPwd,jdbcType=VARCHAR},
      user_grade = #{userGrade,jdbcType=BIGINT},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      identity_card_validity = #{identityCardValidity,jdbcType=TIMESTAMP},
      identity_issuing = #{identityIssuing,jdbcType=VARCHAR},
      identity_status = #{identityStatus,jdbcType=INTEGER},
      user_ky_balance = #{userKyBalance,jdbcType=DECIMAL},
      user_fx_balance = #{userFxBalance,jdbcType=DECIMAL},
      user_dj_balance = #{userDjBalance,jdbcType=DECIMAL},
      tixian_status = #{tixianStatus,jdbcType=INTEGER},
      user_jf_balance = #{userJfBalance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      option_time = #{optionTime,jdbcType=TIMESTAMP},
      user_status = #{userStatus,jdbcType=INTEGER},
      user_pid = #{userPid,jdbcType=BIGINT},
      option_remark = #{optionRemark,jdbcType=VARCHAR},
     
      
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByNickName" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER}
      
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByIDcard" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    set identity_card = #{identityCard,jdbcType=VARCHAR},
      identity_card_validity = #{identityCardValidity,jdbcType=TIMESTAMP},
      identity_issuing = #{identityIssuing,jdbcType=VARCHAR},
      identity_status = #{identityStatus,jdbcType=INTEGER},
      true_name = #{trueName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByLoginPwd" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    set login_pwd = #{loginPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPayPwd" parameterType="cn.sqhl.neig.pointsmanager.po.NsUser">
    update ns_user
    set  pay_pwd = #{payPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>